/* 
    Created on : Feb 20, 2016, 12:45:31 AM
    Author     : ecivic (edo.civic@mail.com)
*/

input {
    margin: 5px;
}
.confirmativeActionButton {
    background-color: green;
}
.confirmativeActionButtonWaitingForConfirmation {
    background-color: red;
    animation: blinker 1s linear infinite;
}
.confirmativeActionButtonConfirmed {
    background-color: blue;
}
.confirmativeActionButtonCustom {
    color: green;
}
.confirmativeActionButtonWaitingForConfirmationCustom {
    color: red;
    animation: blinker 1s linear infinite;
}
.confirmativeActionButtonConfirmedCustom {
    color: blue;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}


